<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <title>Hello app</title>
</head>

<body>
  <h1>Nicolai's Book Store</h1>
  <div id="app">
    <input v-model="name" placeholder="Name">
    <button v-on:click="GetAll" class="btn btn-primary">Get All</button>

    <ul v-if="books.length">
      <li v-for="book in books">
        {{book.id}} {{book.title}} {{book.author}} {{book.publisher}} {{book.price}}

      </li>
    </ul>
    <div v-else>No books</div>

    <br>

    <h2 style="font-family: fantasy;">Get By ID</h2>
    <input v-model="toGetById" placeholder="id" type="number">
    <button v-on:click="getById(toGetById)" class="btn btn-primary">Get One</button>
    <div v-if="singleBook">
      {{singleBook.id}} {{singleBook.title}} {{singleBook.author}} {{singleBook.publisher}} {{singleBook.price}}
    </div>
    <div v-else>No book</div>

    <h2>Add book (Post)</h2>
    <input v-model="addData.title" placeholder="title" type="text" />
    <input v-model="addData.author" placeholder="author" type="text" />
    <input v-model="addData.publisher" placeholder="publisher" type="text" />
    <input v-model="addData.price" placeholder="price" type="number" />
    <button v-on:click="addBook" class="btn btn-primary">Add Book</button>
    <div>{{addMessage}}</div>

    <h2>Update (Put)</h2>
    <input v-model="updateData.id" placeholder="id" type="number" />
    <input v-model="updateData.title" placeholder="title" type="text" />
    <input v-model="updateData.author" placeholder="author" type="text" />
    <input v-model="updateData.publisher" placeholder="publisher" type="text" />
    <input v-model="updateData.price" placeholder="price" type="number" />
    <button v-on:click="updateBook" class="btn btn-primary">Update</button>
    <div>{{updateMessage}}</div>

    <h2> Delete Book</h2>
    <input v-model.number="deleteId" placeholder="id" type="number" />
    <button vi-on:click="deleteBook(deleteId)" class="btn btn-warning">Delete</button>
    {{deleteMessage}}


  </div>

  <script src="bundle.js"></script>


</body>

</html>